<body class="bookings" style="background-color: #C5CBE3" >
  <div class="container">
    <h1>My Bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1591285687558-632ddc5e026a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2><%= booking.workshop.title %></h2>
            <p><%= booking.workshop.description %></p>
            <p>Dates: <%= booking.check_in %> until <%= booking.check_out %></p>
          </div>
          <h2 class="card-trip-pricing">€75/day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</body>
