<div style="display: inline">
  <%= form_tag workshops_path, method: :get do %>
  <div style="display: inline" class="input-search">
    <%= text_field_tag :query, params[:query], placeholder: "What are you looking for?"%>
  </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
