<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "Create new workshop", new_workshop_path(@user)  %>

<% @workshops.each do |workshop| %>
  <%= workshop.title %>
<% end %>
