<body>
  <div class="bg-blue">
    <div class="landing-banner bg-yellow">
      <div class="container row">
        <div class="container justify-content-center">
          <h1 class="landing-header col">the space for you projects</h1>
          <p class="landing-header text-center">Spacify helps creatives build and test<br> products from start to finish.</p>
        </div>
        <div class="landing_review">
          <%= image_tag("landing_review.png", width: "418") %>
        </div>
      </div>
    </div>
    <div class="bg-blue row justify-content-center">
      <div class="container row justify-content-center">
        <div class="img-banner">
          <div class="container text-center elements-center">
            <h1 class="title-image">Find a Workspace for your needs</h1>
            <p class="title-image">2.123 Spaces available in your area</p>
            <div style="display: inline">
              <%= form_tag workshops_path, method: :get do %>
              <div style="display: inline" class="input-search"><%= text_field_tag :query, params[:query], placeholder: "Find a workshop"%></div>
              <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
