<body>
  <div class="bg-blue">
    <div class="landing-banner bg-yellow">
      <div class="container row">
        <div class="container justify-content-center">
          <h1 class="landing-header col">the space for your projects</h1>
          <p class="landing-header text-center">Spacify helps creatives build and test<br> products from start to finish.</p>
        </div>
        <div class="landing_review">
          <%= image_tag("landing_review.png", width: "418") %>
        </div>
      </div>
    </div>
    <div class="container row justify-content-center scroll-prompt">
      <%= image_tag("scroll_prompt.png", width: "120") %>
    </div>
    <div class="bg-blue row justify-content-center">
      <div class="container row justify-content-center">
        <div class="img-banner">
          <div class="container text-center elements-center">
            <h1 class="title-image">Find a Workspace for your needs</h1>
            <p class="title-image">243 Spaces available in your area</p>
            <%= render 'shared/searchform' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
