.card {
  margin: 0 auto;
  float: none;
  width: 600px;
  margin: 32px auto;
}

.card-border-5 {
  border-width: 5px !important;
}


.img-card {
  width: 30px;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.form {
  margin-top: 40px;
  margin-right: 40px;
}
