.card {
  color: black;
  margin: 0 auto;
  float: none;
  width: 500px;
  margin: 32px auto;
}

.index-border {
  border: 5px solid black;
  border-radius: 3px;
}

// .img-card {
//   width: 30px;
// }

.price {
  padding-top: 0;
}

h2 {
  padding-left: 19px;
  padding-top: 10px;
}

.card-body {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

.form {
  margin-top: 40px;
  margin-right: 40px;
}


.stretched-link {
  text-decoration: !important none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
