.card {
  color: black;
  margin: 0 auto;
  float: none;
  width: 500px;
  margin: 32px auto;
}

.index-border {
  border: 5px solid black;
  border-radius: 3px;
}

// .img-card {
//   width: 30px;
// }

.card-body {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

.form {
  margin-top: 40px;
  margin-right: 40px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  border: 5px solid black;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-confirmed {
  position: absolute;
  right: 16px;
  top: -50px;
  width: 40px;
  padding-top: 9px;
  .fa-check {
    color: green;
    font-size: 20px;
  }
}

.card-trip-infos .card-trip-unconfirmed {
  position: absolute;
  right: 16px;
  top: -50px;
  width: 40px;
  padding-top: 9px;
  .fa-times {
    color: red;
    font-size: 20px;
  }
}
