.container-footer {
  padding-top: 100px;
  padding-bottom: 0.1px;
}

.footer {
  color: black;
  height: 130px;
  border-style: solid;
  padding-bottom: 100px;
  padding-left: 20px;
}

.footer-name {
  color: #F13C20;
}

.footer-links a {
  color: black;
  font-size: auto;
}

.footer-copyright {
  color: black;
  font-size: 10px;
  display: inline-block;
  text-align: left;

}

